{{ define "main" }}

<!-- Tag Title -->
{{ if and .Title (eq .Type "tags") }}
<h1 class="mb-24">#{{ .Title }}</h1>
{{ end }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}<!---->
{{ if .IsHome }}<!---->
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}<!---->
{{ end }}

<!-- Articles -->
{{ $paginator := .Paginate $pages }} {{ range $index, $page := $paginator.Pages
}}<!---->

<!-- avatar -->
{{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}<!---->

{{ $avatar_url := $.Scratch.Get "avatar_url" }}<!---->
{{ if or $avatar_url site.Params.name }}
<div class="-mt-2 mb-20 flex items-center wrap-flex">
  {{ if $avatar_url }}
  <div
    class="mr-5 shrink-0 rounded-full border-[0.5px] border-black/10 bg-white/50 p-3 shadow-sm dark:bg-white/[15%]"
  >
    <img
      class="my-0 aspect-square w-20 rounded-full !bg-black/5 hover:animate-spin dark:!bg-black/80"
      src="{{ $avatar_url }}"
      alt="{{ site.Params.name | default site.Title }}"
    />
  </div>
  {{ end }}<!---->
  {{ if site.Params.name }}
  <div>
    <h1 class="mb-2 mt-3 text-[1.6rem] font-bold">{{ site.Params.name }}</h1>
    <div class="break-words">
      <p>
        Hey, I'm Shubham, a <b>Software Engineer II</b> at <a href="https://www.softway.com" target="_blank">Softway</a>, where humanity matters. I've been immersed in the world of development for the past 3 years, hustling in both product and service-based companies.
      </p>
      <p>
        This site (the blog, especially) is mostly about software internals; particularly System Designs, Data Structure, programming languages, distributed systems, databases, cloud, networks, and so on.
      </p>
      <p>
        Consider this a cozy corner where I share my passion for these topics and unravel the mysteries of the tech world. Oh, and fair warning, I'm no expert, but boy, do I love exploring and learning along the way.
      </p>
      <p>
        So, grab a cup of coffee, get comfy, and join me on this tech-filled journey. Let's dive into the wild world of software together!
      </p>
      <p>
        Also interested see my <a href="/projects">Side Projects</a> 
      </p>
      <!-- <p>
        <a href="https://calendly.com/shubhamlad/one-on-one" target="_blank" >Book a One-on-One with me</a>
      </p> -->
    </div>
  </div>
  {{ end }}
</div>
{{ end }}<!---->

<h1 class="mt-header">Certifications</h1>
<a href="https://www.credly.com/badges/1d2688b1-8154-45a1-98d9-c4a8d1aac930/public_url" target=”_blank”><img src="/saa-c03.png" alt="AWS Solution Architect Associate"></a>

<h1 class="mt-header">Recent Posts</h1>
{{ end }}
<section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
  {{ if gt .Weight 0 }}
  <span
    class="mb-2 inline-block text-[0.8rem] font-medium uppercase tracking-wider text-[#ff3b2d] opacity-70"
    >Featured</span
  >
  {{ end }}
  <h2 class="!my-0 pb-1 font-bold !leading-none">{{ .Title }}</h2>
  <time class="text-sm opacity-60"
    >{{ .Date | time.Format ":date_medium" }}</time
  >
  <a class="absolute inset-0 text-[0]" href="{{ .Permalink }}">{{ .Title }}</a>
</section>
{{ end }}

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="mt-24 flex">
  {{ if $paginator.HasPrev }}
  <a class="btn" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
  {{ end }}<!---->
  {{ if $paginator.HasNext }}
  <a class="btn ml-auto" href="{{ $paginator.Next.URL }}"
    >{{ i18n "next_page" }} →</a
  >
  {{ end }}
</nav>
{{ end }}<!---->

{{ end }}
